<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= link_to school.logo.filename, school.logo if school.logo.attached? %>
  </p>

</div>
